/*Universal selector for text alignment*/
*{
    text-align: center;
}

/*centers all ul elements*/
ul{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#banner{
    position: absolute;
    left: -200px;
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
}